:root {
  --primaryTextColor: #676869;
  --secondaryTextColor: #6c6c6c;
  --thirdaryTextColor: #868787;

  --additianalPrimeTextColor: #565656;
  --additianalSecondTextColor: #828282;

  --buttonTextColor: #fff;

  --accentPrimeColor: #01005b;
  --accentSecondaryColor: #2a2996;
  --accentThirdaryColor: #15005b;
  --accentQuadraryColor: #1c2e58;

  --primaryBorderColor: #ededed;
  --secondaryBorderColor: #c4c4c4;
  --thirdaryBorderColor: #eaeaea;

  --primaryBgColor: #f9f0e5;
  --secondaryBgColor: #f0eeef;
  --thirdaryBgColor: #f9f0e6;

  --gradientBgColor: linear-gradient(0deg, rgba(249, 240, 229, 0)0%, rgba(249, 240, 229, 0.18) 50%, rgba(249, 240, 229, 1) 100%);
}
