.button {
  padding: 16px;
  height: 56px;
  width: 86%;
  border-radius: 5px;
  background-color: var(--accentPrimeColor);
  color: var(--buttonTextColor);
  font-size: 18px;
  font-family: 'SuisseIntl';

  & img {
    padding-left: 9px;
  }

  &:active {
    background-color: var(--accentSecondaryColor);
  }

  @media (min-width: 1024px) {
    width: 90%;
  }
}
