@import './styles/reset.scss';
@import './styles/variables.scss';

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  src: url('./assets/fonts/Sofia Pro Regular Az.otf') format('opentype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 600;
  src: url('./assets/fonts/Sofia Pro Semi Bold Az.otf') format('opentype');
}

@font-face {
  font-family: 'SuisseIntl';
  font-weight: 400;
  src: url('./assets/fonts/SuisseIntl-Regular.otf') format('opentype');
}

.swiper-wrapper {
  align-items: center;
  padding-bottom: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.swiper-slide-fully-visible {
  border: 2px solid transparent;
}

.swiper-slide-thumb-active {
  border: 2px solid #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  transform: scale(0.5);
}

.swiper-button-prev,
.swiper-button-next {
  width: 0px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Sofia Pro', 'sans-serif';
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--primaryTextColor);
}

#root {
  width: 100vw;
  height: 100vh;
}

@media(min-width: 1024px) {
  button {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .swiper-pagination {
    display: none;
  }
}
