@import './styles/reset.scss';
@import './styles/variables.scss';

@font-face {
  font-family: 'SuisseIntl';
  src: url('./assets/fonts/SuisseIntl-Regular.otf') format('opentype');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Sofia Pro', 'sans-serif';
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 3%;
  color: var(--primaryTextColor);
}

@media(min-width: 1024px) {
  button {
    cursor: pointer;
  }
}
