.loungewear {
  padding: 92px 20px 0;
  background: var(--gradientBgColor);

  &__seen {
    margin-bottom: 17px;
    text-align: center;
    line-height: 18px;
  }

  &__slider {
    margin-bottom: 36px;
  }

  &__content {
    margin-top: 25px;
  }

  &__imgs {
    position: relative;
  }

  &__benefits {
    margin-top: 55px;
    padding-inline: 25px;
  }

  &__benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 28px;
    gap: 20px;
  }

  &__benefit:not(:last-of-type) {
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--primaryBgColor);
    }

    & h3 {
      font-size: 20px;
      line-height: 24px;
      color: var(--accentPrimeColor);
    }
  }

  &__text {
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: 1024px) {
    padding: 92px 62px 128px 96px;
    position: relative;

    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 2%;
    }

    &__imgs {
      width: 54%;
    }

    &__info {
      width: 44%;
    }

    &__name {
      flex-direction: row;
      justify-content: center;

      & h3 {
        font-size: 22px;
      }
    }

    &__benefits {
      margin-top: 0;
      padding-inline: 0;
    }

    &__benefit {
      gap: 10px;
      margin-bottom: 0;
      justify-content: start;
      align-items: flex-start;
    }

    &__benefit:not(:last-of-type) {
      border-bottom: 0px;
    }

    &__text {
      text-align: left;
      padding-left: 50px;
      padding-bottom: 10px;
      font-size: 15px;
      line-height: 23px;
    }
  }

  @media (min-width: 1440px) {
    &__subtitle {
      position: absolute;
      top: auto;
      padding-left: 28px;
    }

    &__content {
      gap: 7%;
    }

    &__imgs {
      width: 44%;
    }

    &__benefits {
      margin-top: 84px;
    }

    &__benefit {
      gap: 20px;
    }

    &__text {
      padding-left: 60px;
      padding-bottom: 30px;
    }
  }
}

.cart {
  width: 25px;
  height: 19px;
}

.leaf {
  width: 23px;
  height: 23px;
}

.sunmoon {
  width: 26px;
  height: 26px;
}

.wave {
  width: 22px;
  height: 18px;
}

.cloud {
  width: 26px;
  height: 19px;
}
